Olá <%= current_user.name %>

<ul class="mdc-list mdc-list--avatar-list">
  <li class="mdc-list-item">
    <img class="mdc-list-item__start-detail"
         src="<%=current_user.image %>"
         width="56" height="56" alt="Panda">
    Panda
  </li>
</ul>
<ul id="conversation" class="demo-list-item mdl-list">

</ul>

<%= text_area_tag(:message_content) %>

<%= button_tag("Enviar", id:"send_button" , type: "button", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") %>