// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#maincontent{
  margin: 0px;
}

#conversation {
  height: 70%;
  background-color: #FFFFFF;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
}

.mdl-textfield.mdl-js-textfield.is-upgraded{

  height: 100%;
  width: 100%;

}
#button_message_content{
  background-color: #CCCCCC;
  height: 19%;
}
#message_content {
  background-color: #FFFFFF;
  border-radius: 3px;
  height: 100%;
}
#send_button{
  background-color: #FFFFFF;
}

#user_list {
  height: 95%;
  margin-right: 5px;
  padding: 0px;
}
.mdl-textfield{
  width: 100%;
}

.mdl-list__item-primary-content > span{
  padding: 10px;
}